<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
  <br>
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/yoshinaria">Akiko Turhan</a> using Ruby on Rails. 
  </p>
  
  <br><br>


  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'akiko1.jpg', :size => '220x220', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Akiko Turhanogullari</h2>
    <br />
    <p>
      Akiko Turhanogullari is an aspiring web developer based in Chicago.  She is a self-taught graphic designer and a web designer.  She has been designing and maintaining Wordpress websites for the past 4 years for local and international NPOs, as well as a new startup college in Lakeview, Chicago.  By learning Ruby on Rails, she hopes to extend her knowledge and become a full-stack web developer in the near future.
    </p>

  </div>
  
</div>

<br class="clear" />
<br />
<br />
<br />
<br />